.breadcrumb_chevron::after {
    position: absolute;
    top: 50%;
    /* right: 0.5rem; */
    margin-left: 0px;
    height: 0.5rem;
    width: 0.5rem;
    content: "";
    background: url("/chevron_right.svg") right center/auto 100% no-repeat;
    transform: translateY(-50%);
    font-size: 11px;
}

.list--breadcrumbs {
    width: 33%;
    font-size: 11px;
}

.breadcrumb-link {
    color: #616161;
    text-decoration: none;
    margin-right: 5px;
    font-size: 11px;
}
